<%- include('partials/header') %>
<div class="container text-center py-5">
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3">Fitur akan segera dibuat oleh Fajar</p>
</div>
<%- include('partials/footer') %>